body {
  margin: 0;
  background-color: grey;
}

.board {
  margin: 100px auto;
  width: 600px;
  display: grid;
  border: 1px ;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  text-align: center;
  font-size: 50px;
  
}

.box:hover {
  background-color: yellow;
}

.title {
  text-align: center;
}

.players {
  text-align: center;
}


#restartButton {
  margin-top: 10px;
}